<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src='./dist/bundle.js' defer></script>
</head>

<body>
    <div id="app">
        <div class="planTodo">
            <input type="text" v-model="newtodo" @keypress.enter="addTodo()">
        </div>
        <ol class="todos">
            <li v-for="todo in todoList">
                <input type="checkbox" v-model="todo.done">{{todo.text}}
                <div class="time">
                    <span>{{todo.createTime}}</span>
                </div>
                <div class="isdone">
                    <span v-if="todo.done">已完成</span>
                    <span v-else>未完成</span>
                </div>
                <button class="close" @click="del(todo)">X</button>
            </li>
        </ol>
    </div>
</body>

</html>